streamlit==1.14.0
selenium==4.6.0
html-table-parser==1.0.2
beautifulsoup4==4.11.1
pandas==1.4.3
time
groq==0.1.0
pdfkit==1.0.0
python-dotenv==0.21.0
jsonschema==4.17.3
seaborn==0.11.2
matplotlib==3.5.3
openai==0.27.0
